body, html{
  height:100%;
}
body{
  margin: 0px;
  background: url("media/background-ice.jpg");
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border-radius:50%;
  position:absolute;
}
.spinner{
  animation: spin 4s linear infinite;
  transition: all 2s;
}
.bagPiper{
  animation: bagPipe .65s linear infinite;
  transition: all 2s;
}
.heMan:hover{
  transform: scale(.2);
  transition: all 2s;
}
.lineUp{
  left: 0 !important;
  transition: all 2s;
}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@keyframes bagPipe {
    from {
    transform: rotate(0deg)
               translate(-50px)
               rotate(0deg);
  }
  to {
    transform: rotate(360deg)
               translate(-50px) 
               rotate(-360deg);
  }
}